@import "../base/_variables.scss";

.viewcomments {
  display: flex;
  flex-flow: row wrap;
  &__btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    &:active,
    &:focus {
      outline: none;
    }
  }
  &__list {
    margin-top: $main-padding;
    flex: 3;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  &__item {
    width: 100%;
    padding-top: $main-padding * 0.5;
    span {
      color: $secondary-color;
    }
  }
  &__controls {
    width: 100%;
    display: none;
    &.tab--open {
      display: block;
    }
  }
}
