@import "../base/_variables.scss";

.flights {
  &__searchform {
    margin-bottom: $main-padding * 1.5;
  }
}

.flights input {
  width: calc(100%);
}

.dropdown-menu {
  // position: absolute;
  // top: 100%;
  // left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: $light-color;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;

  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px solid $secondary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #16181b;
    text-decoration: none;
    background-color: $light-color;
  }
  &:active {
    color: $light-color;
    text-decoration: none;
    background-color: $primary-color;
  }
  &.show {
    display: block;
  }
  mark {
    background-color: $secondary-color;
    color: black;
  }
}

.flightsresults {
  background: lighten($secondary-color, 10%);
}

// MEDIA QUERIES - post MVP
@media (min-width: 768px) {
  .flights {
    display: flex;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 930px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1410px;
  }
}
