@import "../base/_variables.scss";

.results {
  table {
    width: 100%;
    margin: $main-padding auto;
    table-layout: fixed;
  }

  &__table {
    border-collapse: collapse;
  }

  td {
    border-collapse: collapse;
    padding: $main-padding * 0.3;
    text-align: center;
    &:first-child {
      text-align: left;
      text-transform: uppercase;
      padding-left: $main-padding * 0.3;
    }
  }
  &__outbound {
    border-top: 1px solid $secondary-color;
  }
  &__price {
    border-bottom: 1px solid $secondary-color;
  }

  &__outbound,
  &__return {
    background: $light-color;
  }
  &__price {
    background: lighten($secondary-color, 20%);
  }
}
