@import "../base/_variables.scss";

.splash {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__promo {
    position: relative;
    z-index: 1;
  }

  &__trip-info {
    color: white;
  }
}

.splash:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
