@import "../base/_variables.scss";

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-position-x: -10vh;
  margin: 0;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90vh;
  background-size: cover;

  &__trip-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background: #333; /* For browsers that don't support RGBA */
    background: rgba(0, 0, 0, 0.18);
    padding: 4px 8px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 20rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
