@import "../base/_variables.scss";

.card {
  background: $white;
  border-top: $main-padding solid $primary-color;
  border-bottom: $main-padding solid lighten($secondary-color, 10%);

  &__link {
    text-decoration: none;
  }

  &__figure {
    position: relative;
    margin: 0;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 56%;
    background-size: cover;
  }

  &__destination {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: $main-padding * 1.5;
    span {
      display: block;
      text-align: center;
      background-color: $primary-color;
      height: $main-padding * 2.5;
      line-height: $main-padding * 1.8;
      padding-left: $main-padding * 0.5;
      padding-right: $main-padding;
      color: $light-color;
      position: relative;

      &:before {
        content: "";
        width: 0px;
        height: 0px;
        border-top: $main-padding * 2.5 solid $primary-color;
        border-left: $main-padding * 2.5 solid transparent;
        position: absolute;
        right: 100%;
        top: 0px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: $main-padding 0 0;
  }

  &__details {
    p {
      margin-top: 0;
    }
  }

  &__footer {
    background: lighten($secondary-color, 20%);
    margin-top: $main-padding * 1.5;
    display: flex;
    a {
      text-decoration: none;
      color: $dark-color;
    }
  }

  &__itinerary {
    padding: $main-padding;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      color: $primary-color;
    }
  }

  &__suggestions {
    color: $white;
    padding: $main-padding;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &--title {
      margin-right: $main-padding * 1;
    }
  }

  &__suggestors {
    display: flex;
    flex-direction: row;
  }
  a .card__suggestors {
    color: $light-color;
  }

  /* generate range of colors for link-list */
  $bgColors: $primary-color, lighten($primary-color, 10%);

  @for $i from 1 through length($bgColors) {
    $bgColors: append($bgColors, lighten(nth($bgColors, $i), 25%));
  }
  $bgColorsLength: length($bgColors);

  &__suggestor {
    width: 1.5rem;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.75rem 0;
    text-align: center;
    line-height: 0;
    position: relative;
    // background:$primary-color;
    margin-left: -10px;

    @for $i from 1 through $bgColorsLength {
      &:nth-of-type(#{$bgColorsLength}n + #{$i}) {
        background-color: nth($bgColors, $i);
      }
    }
  }
}
