// Variables

// Color
$dark-color: #343237;
$light-color:#FDFDFD;;
$primary-color: red;
$secondary-color: green;
$accent-color: blue;

// Typography
$body-font: sans-serif;
$headline-font: sans-serif;

// Padding
$main-padding: 1rem;