// Variables

// Color
$white: #ffffff;
$dark-color: #193441;
$light-color:#fcfff5;
$primary-color: #3e606f;
$secondary-color: #D1Da9d;
$accent-color: red;

// Typography
$body-font: "source-sans-pro", sans-serif;
$headline-font: "bureau-grot-condensed", sans-serif;

// Padding
$main-padding: 1rem;