@import "_normalize";
@import "variables";
@import "loader";

/* ==== BASE ==== */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $body-font;
  margin: 0;
  padding: 0;
  background: lighten($primary-color, 20%);
  line-height: 1.5;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
}
.main {
  background: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  font-style: normal;
}
a {
  color: $primary-color {

  }
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.container,
.app__footer {
  padding-left: $main-padding * 1.5;
  padding-right: $main-padding * 1.5;
  margin: 0 auto;
}
.main {
  margin-top: 4.6rem;
  padding-bottom: $main-padding * 1.5;
}
// splash view reset
.splash-context .main {
  margin-top: 0;
  padding-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* ---- Nav menus ---- */
.menu--settings {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
/* ---- Visibility ---- */
.show--screenreaders,
.show--focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/* --- Actions ---- */
.item--closed {
  display: none;
}
.item--open {
  display: block;
}

/* ==== LAYOUT ==== */

// MEDIA QUERIES - post MVP
@media (min-width: 768px) {
  .main,
  .sitehead__wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 960px) {
  // .container {
  //   max-width: 930px;
  // }
}

@media (min-width: 1200px) {
  // .container {
  //   max-width: 1170px;
  // }
}

@media (min-width: 1440px) {
  // .container {
  //   max-width: 1410px;
  // }
}
